{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	{% block navAdmin %}
		<h1>Administration</h1>


		<div class="uk-flex uk-flex-center">
			<p class="uk-padding"></p>
			<p class="uk-padding">
				<a href="register">Collaborateurs</a>
			</p>
			<p class="uk-padding">
				<a href="typeTraining">Categories</a>
			</p>
			<p class="uk-padding">
				<a href="training">Formations</a>
			</p>
			<p class="uk-padding">
				<a href="session">Sessions</a>
			</p>
			<p class="uk-padding">
				<a href="module">Modules</a>
			</p>
			<p class="uk-padding">
				<a href="location">lieux</a>
			</p>
			<p class="uk-padding"></p>
		</div>
	</nav>
{% endblock %}
<h1>Ajouter un module</h1>
{{ form(formModule) }}{% endblock %}
