{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}
{% block body %}


	<h1>Ajouter une catégorie de formation</h1>
	{{ form(formTypeTraining) }}

		<h3>Liste des catégories</h3>
		<table class='uk-table uk-table-hover uk-table-divider'>
			<thead>
				<tr>
					<th>Catégorie</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for typeTraining in typeTrainings %}
					<tr>
						<td>{{ typeTraining.title }}</td>
						<td>
							<!-- https://getuikit.com/docs/icon -->
							<a class="uk-icon-link uk-margin-small-right" uk-icon="file-edit" href="{{ path('typeTraining_edit', {id:typeTraining.id} ) }}"></a>
							<a class="uk-icon-link" uk-icon="trash" href="{{ path('typeTraining_suppr', {id:typeTraining.id}) }}"></a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% endblock %}
