{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<h1>Administration</h1>
	<p>Veuillez Utiliser le menu déroulant dans la barre de navigation.</p>
{% endblock %}
