{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	{% block navAdmin %}
		<h1>Administration</h1>
		<div class="uk-flex uk-flex-center">
			<p class="uk-padding"></p>
			<p class="uk-padding">
				<a href="/admin/register">Collaborateurs</a>
			</p>
			<p class="uk-padding">
				<a href="/admin/typeTraining">Categories</a>
			</p>
			<p class="uk-padding">
				<a href="/admin/training">Formations</a>
			</p>
			<p class="uk-padding">
				<a href="/admin/session">Sessions</a>
			</p>
			<p class="uk-padding">
				<a href="/admin/module">Modules</a>
			</p>
			<p class="uk-padding">
				<a href="/admin/location">lieux</a>
			</p>
			<p class="uk-padding"></p>
		</div>
	</nav>
{% endblock %}{% endblock %}
